.imagenTarjeta {
    position: fixed; 
    right: -105px;
    top: 35%; 
    transform: translateY(-25%);
    z-index: 9;
  }
  
  .imagenTarjeta img {
    max-width: 65%;
    
    height: auto;
  }
  
  