.card-desafio {
  position: fixed;
  right: 250px; 
  top: 25%; 
  transform: translateY(20%); 
  z-index: 11;
    width: 19%;
    height: 22rem;
   
    
  }
  
  .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  